# Anything in the build folder
build/

# Logs from benchmarks should be useless since they need to be run on every machine
bench/*.log
bench/interpBench.chapel
bench/interpBench.fortran

# Ignore most common executable names
frei
FREI
frei_real
FREI_real
frei_dbg
FREI_dbg
frei_dbg_real
FREI_dbg_real
frei_opt
FREI_opt
frei_opt_real
FREI_opt_real

# Ignore built Fortran modules
*.mod

# I don't remember what this is. Mason is the Chapel package manager
Mason.lock

# Mathematica notebooks
*.nb

# Test executables
tests/*_tests
tests/*_tests_real

# Output files and images
*.log
!tests/*.log
*.out
*.dat
*.svg

# Tecplot files
*.lay
*.lpk
*.sty

# Image files
*.png
*.jpg
*.jpeg
*.eps

# Text editor swap/temp files
*~
*.bak
*.old
*.swp
*.swo
*.kate*
*.backup

# Explicit ignore tag
*.ignore

