# Ignore most common executable names
frei
FREI
frei_real
FREI_real
frei_dbg
FREI_dbg
frei_dbg_real
FREI_dbg_real
frei_opt
FREI_opt
frei_opt_real
FREI_opt_real

# I don't remember what this is. Mason is the Chapel package manager
Mason.lock

# Mathematica notebooks
*.nb

# Test executables
test_frei.sh

*_tests

# Output files and images
*.dat
*.svg

# Text editor swap/temp files
*~
*.old
*.swp
*.swo
*.kate*

# Anything in the build folder
/build/
