test-cases/3rd_workshop/c1.2_naca0012/meshfiles/naca_ref5.gmsh filter=lfs diff=lfs merge=lfs -text
naca_ref5.gmsh filter=lfs diff=lfs merge=lfs -text
test-cases/3rd_workshop/C2.2_deltawing/meshfiles/delta.5.msh filter=lfs diff=lfs merge=lfs -text
